<nav class="navbar navbar-expand-lg bg-primary py-2 custom-container-padding">
  <div class="container-fluid">
    <div class="d-flex justify-content-between w-100">
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <a href="#"
            ><img
              class="gsa-logo me-2"
              alt="gsa-logo"
              src="assets/images/gsacsd_circle.png"
          /></a>
        </div>
        <div><a class="navbar-brand" href="#">Career Fair 2023</a></div>
      </div>
      <div class="d-flex align-items-center">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item ms-4">
          <a
            class="nav-link"
            aria-current="page"
            data-bs-target="#home"
            href="#home"
            >Home</a
          >
        </li>
        <li class="nav-item ms-4">
          <a class="nav-link" data-bs-target="#schedule" href="#schedule"
            >Schedule</a
          >
        </li>
        <li class="nav-item ms-4">
          <a class="nav-link" data-bs-target="#companies" href="#companies"
            >Companies</a
          >
        </li>
        <li class="nav-item ms-4">
          <a class="nav-link" data-bs-target="#sponsors" href="#sponsors"
            >Sponsors</a
          >
        </li>
        <li class="nav-item ms-4">
          <a class="nav-link" data-bs-target="#faq" href="#faq">F.A.Q.</a>
        </li>
        <li class="nav-item ms-4">
          <a class="nav-link" data-bs-target="#οrganizers" href="#οrganizers"
            >Organizers</a
          >
        </li>
        <li class="nav-item ms-4">
          <a class="nav-link" data-bs-target="#footer" href="#footer"
            >Contact&nbsp;Us</a
          >
        </li>
        <!-- <li class="nav-item ms-4">
          <a
            class="nav-link"
            data-bs-target="#event-info"
            href="#event-info"
            [routerLink]="'landing-page'"
            [ngClass]="{ 'active': isLandingPage }"
            >Event&nbsp;Links</a
          >
        </li> -->
      </ul>
    </div>
  </div>
</nav>
