
.nav-link{
  color: white !important;
  border-bottom: 4px solid transparent;
  text-decoration: none !important;
}

.navbar-brand{
  color: white !important;
  font-weight: bold;
  text-decoration: none !important;
}

.navbar .nav-link.active {
  // font-weight: bold;
  border-bottom: 4px solid white;
}

.navbar{
  z-index: 1000;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
  z-index: 999;
}

.gsa-logo{
  max-width: 3rem;
}

@media screen and (max-width: 600px) {
  .custom-container-padding{
    padding-left: 0px;
    padding-right: 0px;
  }

  .gsa-logo{
    max-width: 2.5rem;
  }
  .navbar-brand{
    font-size: 1rem;
  }
}
