// import primary color from global css
@import '../../../../../styles.scss';

.custom-container-margin {
  margin: 0px 50px 50px 50px;
}

.company-name {
  color: white;
}

.header-sticky {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
}

.logo {
  max-width: 30% !important;
  max-height: 25vh !important;
}

.quote {
  font-style: italic;
  font-size: 1.3rem;
  font-family: 'Times New Roman', Times, serif;
}

.long-description {
  color: #555555;
}

.close-button {
  font-size: 1.5rem;
  font-weight: bolder;
  color: #555555;
  position: sticky;
  top: 0;
  right: 0;
  padding: 5px;
  cursor: pointer;
}

.description-text {
  width: 60%;
  line-height: 1.5rem !important;
  // text-align: justify;
}

.bi-x-lg {
  -webkit-text-stroke: 2px;
}

.close-button:hover {
  .bi {
    color: gray;
  }
}

.medal {
  transform: scale(0.5);
}

.header-bar {
  max-height: 4rem;
}


video{
  max-width: 100%;
  max-height: 100%;
}

.company-video{
  max-width: 40%;
  max-height: 40%;
}

@media screen and (max-width: 1200px) {
  .description-text {
    width: 80%;
    // text-align: justify;
  }
  .company-video{
    max-width: 60%;
    max-height: 60%;
  }
}

@media only screen and (max-width: 600px) {
  .custom-container-margin {
    margin: 15px;
  }

  .company-video{
    max-width: 100%;
    max-height: 100%;
  }

  .logo {
    max-width: 100% !important;
    max-height: 40% !important;
  }

  .description-text {
    width: 100%;
    // text-align: justify;
  }
}

.btn-primary{
  background-color: $primary-color;
  border-color: $primary-color;
  padding: 5px 10px 5px 10px;
  a {
    color: white;
    text-decoration: none;
    font-size: small;
  }

  a:hover{
    color: white;
    text-decoration: none !important  ;
  }

  &:hover{
    box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.5);
  }
}
