<div class="d-flex justify-content-between align-items-center header-sticky header-bar">
  <div class="d-flex justify-content-start align-items-center">
    <div class="text-secondary ms-3 fw-bold" [innerHTML]="company.name"></div>
    <div>
      <app-sponsor-medal [sponsorshipLevel]="company.sponsorshipLevel" [scale]="0.6">
      </app-sponsor-medal>
    </div>
  </div>

  <div class="close-button" (click)="onClose()">
    <i class="bi bi-x-lg cursor-move"></i>
  </div>
</div>
<div class="custom-container-margin cursor-auto mt-4">
  <img [src]="company.logo" [alt]="company.logo" class="logo" />
  <!-- <div class="text-secondary mt-5 d-flex">
    <div class="quote">"{{company.quote}}"</div>
  </div> -->
  <div [innerHTML]="company.longDescription" class="text-secondary my-4 description-text"></div>
  <!-- <div class="company-video">
    <video src="assets/gravity.mp4" controls="true"></video>
  </div> -->
  <div class="d-flex justify-content-start align-items-center" *ngIf="company.pdfURL !== ''">
    <!-- <span> Open Positions: </span> -->
    <button class="btn btn-primary show-btn">
      <a [href]="company.pdfURL" target="_blank" class="pe-1 py-3">
        <i class="bi bi-person-workspace me-1"></i>
        View Open Positions
      </a>
    </button>
  </div>
  <div class="contact mb-4 mt-3">
    <div *ngFor="let socialMedia of company.socialMedia">
      <div *ngIf="socialMedia.link" class="d-flex">
        <app-social-media-icon [socialMedia]="socialMedia" [fontSize]="'1.2rem'" [linkVisible]="true"
          class="mt-1"></app-social-media-icon>
      </div>
    </div>
  </div>
  <h2>Speaker &amp; Booth Staff</h2>
  <div class="h2-underline"></div>
  <div class="row">
    <div *ngFor="let staff of company.staff" class="col-lg-2 col-md-3 col-sm-12">
      <app-staff-card [staff]="staff"></app-staff-card>
    </div>
  </div>
</div>
<!-- <h1 mat-dialog-title>Hi {{company.name}}</h1>
<div mat-dialog-content>
  <p>What's your favorite animal?</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onClose()">No Thanks</button>
</div> -->
