<app-menu></app-menu>
<div class="custom-container-margin">
  <app-home-banner></app-home-banner>
  <app-description></app-description>
  <app-companies></app-companies>
  <app-sponsors></app-sponsors>
  <app-faq></app-faq>
  <app-contact></app-contact>
</div>
<app-footer></app-footer>
