.home-banner{
  min-width: 100%;
  max-width: 100%;
}

.banner-container{
  padding-top: 5rem;
}

//media for mobile
@media only screen and (max-width: 600px) {
  .home-banner{
    max-width: 100%;
  }
}
