<div class="text-center mt-5">
  <div>
    <div class="d-flex justify-content-center" *ngIf="organizer?.imageURL">
      <img class="user-avatar" [alt]="organizer.imageURL" src="{{organizer.imageURL}}" />
    </div>
    <div class=" d-flex justify-content-center" *ngIf="!organizer?.imageURL">
      <div class="user-avatar">
        <i class="bi bi-person-fill avatar-icon"></i>
      </div>
    </div>
  </div>
  <div class="description mt-1" *ngIf="organizer">
    <div class="fw-bold fs-6 mt-1"> {{organizer.name}} {{organizer.surname}}</div>
    <div class="d-flex justify-content-center mt-1">
      <div *ngFor="let socialMedia of organizer.socialMedia" class="me-2 social-media-icon">
        <app-social-media-icon [socialMedia]="socialMedia" [fontSize]="'1.6rem'">
        </app-social-media-icon>
      </div>
    </div>
    <div class="fs-6 mt-1"> {{ organizer.role }} </div>
    <div class="mt-1 text-secondary"> {{organizer.affiliation}} </div>
  </div>

</div>
