.user-avatar{
  width: 100px;
  height: 100px;
  border-radius: 10px;
  background-color: #f2f2f2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  object-fit: cover;
}

.avatar-icon{
  color: lightgray;
  font-size: 6rem;
}

.img-placeholder{
  width: 100px;
  height: 100px;
  border-radius: 20px;
  background-color: #f2f2f2;
}

.linkedin{
  font-size: 1.5rem;
}

.linkedin:hover{
  color: #0077b5;
}

a{
  text-decoration: none;
  color: inherit;
}

.social-media-icon:hover{
  transform: scale(1.2);
}

@keyframes loading {
  0% { background-position: -200px 0; }
  100% { background-position: calc(200px + 100%) 0; }
}


.ray-of-light {
  background-color: gray;
  position: relative;
  overflow: hidden;
  width: 100px;
  height: 100px;
}

.ray-of-light:before {
  content: '';
  position: absolute;
  top: -50%;
  left: 0;
  width: 100%;
  height: 200%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, transparent 80%);
  animation: ray-of-light 1s linear infinite;
}

@keyframes ray-of-light {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}


.top-100{
  position: absolute;
  top: 0px;
}
