<div class="mt-5" id="faq">
  <div>
    <h2> F.A.Q </h2>
    <div class="h2-underline"></div>
    <!-- <div class="mt-5 fs-6">
      <p>Have a question? Check out our frequently asked questions below.</p>
    </div> -->
  </div>
  <div>
    <div *ngFor="let faq of faqs" class="mt-3">
      <app-faq-card [faq]="faq"></app-faq-card>
    </div>
  </div>
</div>
