// import primary color from global css
@import '../../../../../styles.scss';

.custom-margin{
  margin: 0 4rem 0 4rem;
}
.header-sticky {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
}

.close-button {
  font-size: 1.5rem;
  font-weight: bolder;
  color: #555555;
  position: sticky;
  top: 0;
  right: 0;
  padding: 5px;
  cursor: pointer;
}

.bio{
  width: 90%;
  line-height: 1.5rem !important;

}

.bi-x-lg {
  -webkit-text-stroke: 2px;
}

.close-button:hover {
  .bi {
    color: gray;
  }
}

.header-bar {
  max-height: 4rem;
}

hr {
  color: $primary-color;
}



@media screen and (max-width: 1200px) {
  .bio{
    width: 100%;
    // text-align: justify;
  }
}

@media only screen and (max-width: 600px) {

  .bio{
    width: 100%;
    // text-align: justify;
  }

  .custom-margin {
    margin: 0 1rem;
  }
}

.btn-primary{
  background-color: $primary-color;
  border-color: $primary-color;
  padding: 5px 10px 5px 10px;
  a {
    color: white;
    text-decoration: none;
    font-size: small;
  }

  a:hover{
    color: white;
    text-decoration: none !important  ;
  }

  &:hover{
    box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.5);
  }
}
