<div
  class="d-flex justify-content-between align-items-center header-sticky header-bar"
>
  <div class="d-flex justify-content-start align-items-center">
    <span class="text-secondary ms-3 fw-bold fs-5"> Alumni Panel </span>
  </div>
  <div class="close-button" (click)="onClose()">
    <i class="bi bi-x-lg cursor-move"></i>
  </div>
</div>
<div class="custom-margin mt-5">
  <div *ngFor="let alumnus of alumni">
    <div class="row pt-2">
      <div class="col-md-2 col-sm-12">
        <app-alumnus-card [alumnus]="alumnus"></app-alumnus-card>
      </div>
      <div class="col-md-10 col-sm-12 ps-4 details">
        <div>
          <div class="fs-5 fw-bold text-secondary mb-2">
            Contact Information
          </div>
          <div
            *ngFor="let socialMedia of alumnus.socialMedia"
            class="me-3 social-media-icon"
          >
            <app-social-media-icon
              [socialMedia]="socialMedia"
              [linkVisible]="true"
              [fontSize]="'1.2rem'"
            ></app-social-media-icon>
          </div>
        </div>
        <div class="mt-4">
          <div class="fs-5 fw-bold text-secondary">Short Bio</div>
          <div class="fs-6 mt-1 bio">{{ alumnus.bio }}</div>
        </div>
      </div>
    </div>
    <hr />
  </div>
</div>
