// import primary color from global css
@import '../../../styles.scss';

::ng-deep .gtco-testimonials {
  // position: relative;
  margin-top: 30px;
  // max-width: 80vw;
  h2 {
    color: #333333;
    // margin-bottom: 50px;
  }

  .owl-stage-outer {
    padding: 15px 0px 20px 0px;
    height: 100% !important;
  }

  .owl-nav {
    display: none;
  }

  .owl-dots {
    text-align: center;

    span {
      position: relative;
      height: 10px;
      width: 10px;
      border-radius: 50%;
      display: block;
      background: #fff;
      border: 2px solid $primary-color;
      margin: 0 5px;
    }

    .active {
      box-shadow: none;

      span {
        background: #01b0f8;
        box-shadow: none;
        height: 12px;
        width: 12px;
        margin-bottom: -1px;
      }
    }
  }

  .card {
    background: #fff;
    // box-shadow: -2px 8px 20px -4px #95abbb;
    box-shadow: 0px 4px 20px 0px rgba(149,171,187,1);
    -webkit-box-shadow: 0px 4px 20px 0px rgba(149,171,187,1);
    -moz-box-shadow: 0px 4px 20px 0px rgba(149,171,187,1);
    margin: 0 20px;
    padding: 0 10px;
    border-radius: 20px;
    border: 0;
    .card-text{
      margin-top: 0.5rem;
      font-style: italic;
      font-size: 1rem;
      line-height: 1.3rem;
    }
    .card-img-top {
      max-width: 100px;
      border-radius: 50%;
      margin: 15px auto 0;
      box-shadow: 0 8px 20px -4px #95abbb;
      width: 100px;
      height: 100px;
    }

    .name {
      color: $primary-color;
      font-size: 21px;
      line-height: 1.3;

      span {
        font-size: 15px;
        color: #666666;
      }
    }

    p {
      font-size: 18px;
      color: #555;
      padding-bottom: 15px;
    }
  }

  .active {
    opacity: 0.5;
    transition: all 0.3s;
  }

  .center {
    opacity: 1;

    .name {
      font-size: 24px;

      span {
        font-size: 15px;
      }
    }

    .card-img-top {
      max-width: 100%;
      height: 120px;
      width: 120px;
    }
  }
}

@media (max-width: 767px) {
  .gtco-testimonials {
    margin-top: 20px;
  }
}

::ng-deep .owl-carousel {
  .owl-nav{
    display: flex;
    justify-content: center;
    margin: 0px;
  }
  .owl-nav button {
    width: 40px;
    background-color: #666666;
    span{
      font-size: x-large;
      color: lightblue;
    }
    &.owl-next, &.owl-prev {
      outline: 2;
    }
  }

  button.owl-dot {
    outline: 0;
  }

  .owl-dots{
    display: none;
  }
}
