<div class="mt-2" id="testimonials">
  <div class="mt-4 text-center fw-bold fs-6 text-secondary fs-italic">
    <em> Read what CSD professors and alumni say about the Career Fair!</em>
  </div>
  <div class="gtco-testimonials container">
    <div class="owl-carousel owl-carousel1">
      <!-- *ngFor doesn't work for some reason. We have to actually write HTML here SMH. -->
      <!-- <div *ngFor="let testimonial of testimonials">
        <div>
          <div class="card text-center">
            <div class="card-body">
              <div class="fs-5 name">
                {{ testimonial.author }} <br />
                <span> {{ testimonial.role }} </span>
              </div>
              <p class="card-text">“{{ testimonial.text }}”</p>
            </div>
          </div>
        </div>
      </div> -->
      <!-- Prof. Antonis Argyros -->
      <div>
        <div class="card text-center">
          <div class="card-body">
            <div class="fs-5 name">
               Prof. Antonis Argyros <br />
              <span> Chair of CSD, UoC </span>
            </div>
            <p class="card-text">“The CSD Career Fair is an excellent initiative of the graduate students of our Department that has now become an institution. In this meeting, the students of the Department have the opportunity to get to know many important companies that employ computer scientists and to interact with their executives. The experience gained from the previous years shows that the CSD Career Fair is a very useful and successful event. I am confident that this year's event will also be a huge success!” </p>
          </div>
        </div>
      </div>
      <!-- Prof. Evangelos Markatos -->
      <div>
        <div class="card text-center">
          <div class="card-body">
            <div class="fs-5 name">
              Prof. Evangelos Markatos<br />
              <span> CSD, UoC </span>
            </div>
            <p class="card-text">“The CSD Career Fair gives the opportunity to a wide range of employers to tap into the top talent pool of the students of the Computer Science Department of the University of Crete, to present their current and future job openings, and to recruit future employees.” </p>
          </div>
        </div>
      </div>
      <!-- Prof. Angelos Bilas -->
      <div>
        <div class="card text-center">
          <div class="card-body">
            <div class="fs-5 name">
              Prof. Angelos Bilas<br />
              <span> CSD, UoC </span>
            </div>
            <p class="card-text">“The CSD Career Fair has very quickly become an event that creates real opportunity by connecting new talent to industry and addressing needs that matter. We look forward to the 2023 event this coming October!” </p>
          </div>
        </div>
      </div>
      <!-- Nikos Batsaras -->
      <div>
        <div class="card text-center">
          <div class="card-body">
            <div class="fs-5 name">
               Nikos Batsaras <br />
              <span> Software Engineer @ Futurae Technologies AG</span>
            </div>
            <p class="card-text">“A great experience overall ! Had the chance to talk to leading professionals of different fields and get a better understanding of the industry and the opportunities it offers. Would definitely recommend to newcomers in the industry!” </p>
          </div>
        </div>
      </div>
      <!-- Maria Oikonomidou -->
      <div>
        <div class="card text-center">
          <div class="card-body">
            <div class="fs-5 name">
              Maria Oikonomidou <br />
              <span> Lead Data Scientist & Engineer @ inbestMe</span>
            </div>
            <p class="card-text">“I remember participating in the 1st Career Fair — it was an enlightening experience that transformed my perspective on the professional world. It not only complemented my university courses but also introduced me to diverse companies, highlighting the demand for real-world skills.” </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
