<div class="faq-card" (click)="toggleFAQ()" *ngIf="faq?.question && faq?.answer">
  <div class="d-flex justify-content-between">
    <div class="fs-6 fw-bold question pt-1"> {{ faq.question }} </div>
    <div class="toggle">
      <div *ngIf="isCollapsed"><i class="bi bi-plus-lg fs-4" style="font-weight: bolder;"></i></div>
      <div *ngIf="!isCollapsed"><i class="bi bi-dash-lg fs-4 bi-type-bold"></i></div>
    </div>
  </div>
  <div *ngIf="!isCollapsed" [@fadeIn] [innerHTML]="faq.answer" class="mt-2"> </div>
</div>
