.faq-card{
  box-sizing: border-box;
  background: #FCFCFC;
  border: 1px solid #DDDDDD;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 1rem;
}

.bi {
  -webkit-text-stroke: 2px;
}

.faq-card:hover{
  .bi{
    color: gray;
  }
  .question{
    color: #555555;
  }
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}


.faq-card.expanded {
  max-height: 500px; /* set a value that is large enough to accommodate the answer when it is expanded */
}

.faq-card.expanded .answer-wrapper {
  opacity: 1;
}

.answer-wrapper {
  margin-top: 10px;
  opacity: 0;
}
