<div id="companies">
  <h2> Companies </h2>
  <div class="h2-underline"></div>
  <div *ngIf="!companiesPublic" class="mt-5 fs-6">
    <div class="fs-6">
      Our list of participating companies will be updated as soon as they start joining.
      <br> Stay tuned!
      <i class="bi bi-emoji-smile ms-2"></i>
    </div>
  </div>
  <div *ngIf="companiesPublic" class="row mb-4">
    <div *ngFor="let company of companies" class="col-auto mt-4 company-card">
      <app-company-card [company]="company" [cardSize]="'small'" [showStaff]="true"></app-company-card>
    </div>
  </div>
</div>
