<div class="d-flex justify-content-center">
  <img
    [src]="alumnus.image"
    [alt]="alumnus.surname"
    class="alumnus-image"
  />
</div>
<div class="my-2 text-center">
  <div class="alumnus-name fs-5 fw-bold">
    {{ alumnus.name }} {{ alumnus.surname }}
  </div>
  <div class="fs-6 mt-1">{{ alumnus.position }}</div>
</div>
