<div class="medal" [ngStyle]="{ transform: 'scale(' + scale + ')' }"
  *ngIf="sponsorshipLevel === 'A' || sponsorshipLevel === 'B'">
  <div class="outer" [ngClass]="sponsorshipLevel === 'A' ? 'gold-outer': 'silver-outer'"></div>
  <div class="inner" [ngClass]="sponsorshipLevel === 'A' ? 'gold-inner': 'silver-inner'"></div>
  <div class="inner-inner" [ngClass]="sponsorshipLevel === 'A' ? 'gold-inner-inner': 'silver-inner-inner'"></div>
  <div>
    <div class="sponsorship-level medal-text" [ngClass]="sponsorshipLevel === 'A' ? 'gold-text': 'silver-text'">
      <div>
        <div class="fw-bolder fs-5" [innerHTML]="sponsorshipLevel === 'A'? 'Gold' : 'Silver'"></div>
        <div class="fw-light" style="font-size: 14px">sponsor</div>
      </div>
    </div>
  </div>
</div>