.medal {
  position: relative;

  .outer {
    width: 5rem;
    height: 5rem;
    left: 0px;
    top: 0px;
    position: absolute;
    border-radius: 9999px;
    z-index: 1;

  }

  .inner {
    width: 4.5rem;
    height: 4.5rem;
    left: 0.25rem;
    top: 0.25rem;
    position: absolute;
    border-radius: 9999px;
    z-index: 2;

  }

  .inner-inner {
    width: 4rem;
    height: 4rem;
    left: 0.5rem;
    top: 0.5rem;
    position: absolute;
    border-radius: 9999px;
    z-index: 5;
  }

  .medal-text {
    width: 5rem;
    height: 5rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1rem;
    z-index: 100;
  }

}

.gold-outer {
  background: linear-gradient(180deg, #c99f30 0%, #a48023 50%, #c99f30 100%);
}

.gold-inner {
  background: linear-gradient(180deg, #d9b748 0%, #705500 50%, #d9b748 100%);
}

.gold-inner-inner {
  background: linear-gradient(180deg, #d4af37 0%, #e0cd8d 50%, #d4af37 100%);
}

.gold-text {
  color: #816829;
}

.silver-outer {
  background: linear-gradient(180deg, #999999 0%, #767474 50%, #999999 100%);
}

.silver-inner {
  background: linear-gradient(180deg, #B3B3B3 0%, #5E5E5E 50%, #B3B3B3 100%);
}

.silver-inner-inner {
  background: linear-gradient(180deg, #9A9A9A 0%, #D4D4D4 50%, #9A9A9A 100%);
}

.silver-text {
  color: #5E5E5E;
}