<div [ngStyle]="{'font-size': fontSize}" *ngIf="socialMedia?.link">
  <div class="d-flex">
    <a [href]="socialMedia.name == 'Email' ? 'mailto:' + socialMedia.link : socialMedia.link" target="_blank" ariaLabel="{{socialMedia.name +': '+ socialMedia.link}}">
      <i [ngClass]="getIcon()"></i>
    </a>
    <div *ngIf="linkVisible" class="ms-2 link-container" [ngStyle]="{'font-size': '1rem'}">
      <a [href]="socialMedia.link" target="_blank">{{socialMedia.link}}</a>
    </div>
  </div>

</div>
