// a  {
//   // text-decoration: none;
//   color: inherit;
// }

.bi{
  color: #666666;
}

.bi-linkedin:hover{
  color: #0077b5;
}

.bi-facebook:hover{
  color: #3b5998;
}

.bi-twitter:hover{
  color: #1da1f2;
}

.bi-github:hover{
  color: #333;
}

.bi-instagram:hover{
  color: #e4405f;
}

.bi-youtube:hover{
  color: #ff0000;
}

.bi-website{
  color: #333;
}

.bi-envelope-fill:hover{
  color: #0079BE;
}

.link-container{
  width: 80vw; /* Adjust the width as per your requirement */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
