<div>
  <div>
    <h2>Organizing Committee</h2>
    <div class="h2-underline"></div>
    <div class="row" *ngIf="organizers">
      <div
        *ngFor="let organizer of organizers"
        class="col-lg-2 col-md-4 col-sm-12"
      >
        <app-organizer [organizer]="organizer"> </app-organizer>
      </div>
    </div>
  </div>
  <div class="mt-4">
    <h2>Volunteers</h2>
    <div class="h2-underline"></div>
    <div class="row" *ngIf="volunteers">
      <div
        *ngFor="let volunteer of volunteers"
        class="col-lg-2 col-md-4 col-sm-12"
      >
        <app-organizer [organizer]="volunteer"> </app-organizer>
      </div>
    </div>
  </div>
</div>
