.company-card-container{
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  cursor: pointer;
}
.company-card-container:hover{
  transform: scale(1.01);
  transition: 0.2s;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo{
    position: relative;
    margin: 10px;
    img{
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
}

.staff{
  z-index: 100;
}

@media only screen and (max-width: 600px) {
  .company-card-container{
    // max-width: 20em;
    min-width: var(--min-width);
    // min-height: var(--min-height);
    margin: auto;
  }
}
