<div class="mx-1">
  <div class="company-card-container" *ngIf="company?.style"
    [ngStyle]="{ 'height.px': height, 'width.px': width, '--min-width': minWidth, '--min-height': minHeight, 'background-color': company.style.bgColor }"
    (click)="openDialog()">
    <div class="inner-container">
      <div class="logo d-flex justify-content-center align-items-center"
        [ngStyle]="{'height': logoHeight + 'px' }">
        <img [src]="company.logo" [alt]="company.name">
      </div>
      <div *ngIf="showStaff" class="d-flex align-items-end flex-column">
        <div class="d-flex staff">
          <div *ngFor="let staff of company.staff">
            <app-staff-bubble [staff]="staff"></app-staff-bubble>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
