<div class="countdown-container">
  <div class="label mt-1"> Time until event starts: </div>
  <div class="d-flex justify-content-center">
    <div class="countdown-card me-2">
      <span class="w-100 value">{{remainingTime.days}}</span>
      <br>
      <span>days</span>
    </div>
    <div class="countdown-card me-2">
      <span class="w-100 value">{{remainingTime.hours}}</span>
      <br>
      <span>hours</span>
    </div>
    <div class="countdown-card me-2">
      <span class="w-100 value">{{remainingTime.minutes}}</span>
      <br>
      <span>minutes</span>
    </div>
    <div class="countdown-card">
      <span class="w-100 value">{{remainingTime.seconds}}</span>
      <br>
      <span>seconds</span>
    </div>
  </div>
  <div class="label mt-2" *ngIf="eventHasStarted"> The event has started! </div>
  <div class="label mt-2" *ngIf="eventHasEnded"> The event has ended! </div>
</div>
