.countdown-container{
  padding: 10px 20px 20px 20px;
}

.countdown-card{
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
  min-width: 80px;
  max-width: 150px;
  font-size: small;
  padding: 15px 0px 15px 0px;
  .value{
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
  }
}

.label{
  font-weight: 600;
  color: #fff;
  width: 100%;
  margin-bottom: 0.5rem;
}

@media only screen and (max-width: 1200px) {
  .label{
    color: #353535;
    text-align: center;
  }

  .countdown-container{
    padding: 0px;
  }
}

@media only screen and (max-width: 360px) {

  .countdown-card{
    min-width: 50px;
    max-width: 100px;
    font-size: smaller;
    padding: 5px 0px 5px 0px;
    .value{
      font-weight: 600;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: small;
    }
  }

  .countdown-container{
    padding: 0px;
  }
}

