/* You can add global styles to this file, and also import other style files */
/* Option 2: Import via CSS */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.0/font/bootstrap-icons.css");

$primary-color: #0079BE;
.bg-primary {
  background-color: $primary-color !important;
}

.text-primary {
  color: $primary-color !important;
}

.text-secondary {
  color: #555555 !important;
}

.font-white {
  color: white !important;
}

h2{
  font-size: 1.6rem !important;
  margin: 0px;
  margin-bottom: 8px !important;
  font-weight: 500 !important;
}

h3{
  font-size: 1.3rem !important;
  margin: 0px;
  margin-bottom: 8px !important;
  font-weight: 400 !important;
}

body{
  font-family:Arial, Helvetica, sans-serif !important;
  font-size: 1rem !important;
  color: #353535;
  overflow-x: hidden;
}

.custom-container-padding{
  padding-left: 150px;
  padding-right: 150px;
}

.custom-container-margin{
  margin-left: 150px;
  margin-right: 150px;
}

.vh-50{
  padding-top: 100px;
  min-height: 50vh;
}


.h2-underline{
  border: 2px solid $primary-color;
  border-radius: 10px;
  width: 70%;
}

a{
  color: $primary-color;
  text-decoration: none !important;
}

a:hover{
  text-decoration: underline !important;
}

@media screen and (max-width: 1200px) {
  .custom-container-margin{
    margin-left: 50px;
    margin-right: 50px;
  }

  .h2-underline{
    width: 80%;
  }

  .custom-container-padding{
    padding-left: 50px;
    padding-right: 50px;
  }
}


// media query for mobile
@media only screen and (max-width: 600px) {
  .custom-container-margin{
    margin-left: 20px;
    margin-right: 20px;
  }

  .h2-underline{
    width: 100%;
  }

  .custom-container-padding{
    padding-left: 20px;
    padding-right: 20px;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
