<div class="countdown">
  <app-countdown></app-countdown>
</div>
<div class="" id="description">
  <div>
    <h2>Career Day: Meet the Companies</h2>
    <div class="h2-underline"></div>
  </div>
  <div class="row mt-3">
    <div class="col-md-3 col-sm-12 description-img mt-2">
      <img src="assets/images/csd-facilities.jpeg" alt="csd facilities" />
    </div>
    <div class="col-md-9 col-sm-12 mt-2">
      <p>
        We are delighted to announce the 4th Career Fair: Meet the Companies.
        This event allows students and graduates to get the first feel of job
        seeking. During this event, attendees will have interview opportunities
        with corporate recruiters and will be able to present their skills and
        abilities to potential employers.
      </p>
      <p>
        Clearly, this is a mutually beneficial event for both companies that
        wish to recruit well-educated individuals with high progress and success
        drive and for students and graduates who come in direct contact with
        high-profile company recruiters.
      </p>
      <p>
        The 4th Career Fair is organized by the
        <a href="https://www.facebook.com/gsacsd" target="_blank"
          >Graduate Student's Association of the Computer Science Department
          University of Crete</a
        >
        with the support of the
        <a href="https://www.csd.uoc.gr/" target="_blank">
          Computer Science Department of the University of Crete</a
        >
        (CSD, UoC) and the<a
          href="https://www.career.uoc.gr/index.php/en/"
          target="_blank"
        >
          Career and Liaison Office of UoC</a
        >. The event will be held on-premise on <b>Friday, October 13</b>, 2023
        12:00 - 17:00 (GMT +3) at the
        <a href="https://goo.gl/maps/YM6yiYoTcjCnNd2q6" target="_blank"
          >Computer Science building</a
        >. Please see more details on the <a [href]="schedulePath">schedule</a>.
      </p>
      <p>
        In order to participate as an attendee, you have to register prior to
        the event. You are welcome to attend!
      </p>
      <div class="new-deadline">
        <span class="me-2">Registrations deadline:</span>
        <s class="desc me-2">Sunday October 8th, 2023, 21:00.</s>
        <span class="fw-bold text-secondary">(Registrations are over!)</span>
        <div class="mt-1">
          <button class="btn btn-primary" disabled>
            <a
              href="https://forms.gle/p1NvnyPut7dZeKJa9"
              target="_blank"
              class="pe-1 py-3"
            >
              Register now
            </a>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-5">
    <h2>Event Description</h2>
    <div class="h2-underline"></div>
  </div>
  <div class="mt-3">
    <p>
      The event will be held in the Computer Science Department, University of
      Crete facilities. It will consist of:
    </p>
    <ul>
      <li>
        <strong>Videos and Q&A sessions</strong><br />
        <p class="li-description">
          Attendees will be able to gain insight into a company's culture and
          ask questions about company values and workplace.
        </p>
      </li>
      <li>
        <strong>Exhibition area (company booths)</strong><br />
        <p class="li-description">
          Attendees will have the opportunity to meet industry professionals,
          who share the same passion and interest in the field of Computer
          Science, and discuss potential job and/or internship opportunities.
        </p>
      </li>
      <li id="schedule">
        <!-- Having the id=schedule here is not the best practice. More like a fast way to support navigating to the button.-->
        <strong>Interviews (by invitation)</strong><br />
        <p class="li-description">
          Gold sponsors will have an exclusive opportunity of conducting
          interviews during the event. In particular, they will be provided with
          a reservation list consisting of 10 slots in which they will have to
          declare the attendees they wish to interview, chosen with respect to
          attendees' declaration of preference on the registration form.
        </p>
      </li>
      <li>
        <strong class="workshop-link" (click)="openWorkshopDialog()"
          >Workshop - From coding to business! By Bizrupt
        </strong>
        <br />
        <p class="li-description">
          Attendees interested in innovation and entrepreneurship will have the
          opportunity to explore an alternate career path by gaining valuable
          knowledge on how to develop individual business skills and startup
          ideas.
          <span class="workshop-link" (click)="openWorkshopDialog()"
            >(view details)</span
          >
        </p>
      </li>
      <li>
        <strong class="workshop-link" (click)="openAlumniDialog()">
          Alumni panel
        </strong>
        <br />
        <p class="li-description">
          Esteemed graduates of our university's computer science department who
          achieved remarkable feats in various industries, will share their
          personal journeys on navigating the job market after earning their
          degrees. Attendees will receive practical advice and invaluable
          perspectives on how their University of Crete degree can unlock
          countless opportunities in the professional world.
          <span class="workshop-link" (click)="openAlumniDialog()"
            >(view alumni panel)</span
          >
        </p>
      </li>
    </ul>
    <button class="btn btn-primary mx-2 mt-2">
      <a [href]="schedulePath" target="_blank" class="pe-1 py-3">
        <i class="bi bi-calendar2-week me-2"></i> View Schedule
      </a>
    </button>
    <button class="btn btn-outline-primary mx-2 mt-2">
      <a [href]="googleCalendarLink" target="_blank" class="pe-1 py-3">
        <i class="bi bi-calendar-plus me-2"></i> Add to Google Calendar
      </a>
    </button>
  </div>
  <app-testimonials-carousel></app-testimonials-carousel>
</div>
