// import primary color from global css
@import "../../../../styles.scss";

#description {
  line-height: 1.8rem !important;
}

.description-img img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

ul {
  list-style: none;
  padding-left: 0;
}

li::before {
  content: "➤";
  color: $primary-color;
  margin: 0.5rem;
}

.li-description {
  margin-left: 2.2rem;
}

.workshop-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

span.workshop-link {
  color: $primary-color;
  font-size: medium;
}

.btn-primary {
  background-color: $primary-color;
  border-color: $primary-color;

  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    color: white;
    text-decoration: none !important  ;
  }

  &:hover {
    box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.5);
  }
}
.btn-outline-primary {
  // background-color: $primary-color;
  // border-color: $primary-color;

  a {
    color: $primary-color;
    text-decoration: none;
  }

  a:hover {
    color: $primary-color;
    text-decoration: none !important  ;
  }

  &:hover {
    box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.5);
    background-color: white;
  }
}

.countdown {
  position: relative;
  top: -9rem;
  left: 10rem;
  width: 24%;
}

.new-deadline {
  line-height: 1.4rem;
  padding-bottom: 1rem;
  .arrow-container {
    position: relative;
    width: 20px; /* Adjust as needed */
    color: #9F00FF;//$primary-color;
    font-weight: 900;
    padding-bottom: 1px;

  }

  .arrow {
    position: absolute;
    top: 0px;
    width: 0;
    height: 0;
    animation: arrowAnimation 1s infinite alternate; /* Animation duration and type */
  }

  // .desc{
  //   margin-left: 1.7rem;
  // }
}

@keyframes arrowAnimation {
  from {
    left: 0;
  }
  to {
    left: 6px; /* Adjust the distance the arrow moves */
  }
}

@media screen and (max-width: 1200px) {
  .countdown {
    width: 100%;
    position: static;
    top: 0;
    left: 0;
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 1200px) {
  #description {
    position: relative;
    top: -5rem;
  }
}
