@import "../../styles.scss";

.btn-primary {
  background-color: $primary-color;
  border-color: $primary-color;

  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    color: white;
    text-decoration: none !important  ;
  }

  &:hover {
    box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.5);
  }
}

.card {
  border: 1px solid #57b0e4;
  background-color: #c8e5f8;
  p {
    color: rgb(84, 84, 84) !important;
  }
  .fs-4 {
    color: rgb(52, 52, 52) !important;
  }
}
