<div class="page">
  <div class="container mt-5 pt-3">
    <div class="menu">
      <app-menu></app-menu>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12 px-3">
        <div class="card p-4 mt-3">
          <div class="fs-4 fw-bold">Explore Schedule</div>
          <p class="mt-2">Plan your day using our event schedule!</p>
          <p>
            Discover insightful talks, engaging workshops, and valuable
            networking sessions. Click the button below to view the full schedule and make
            the most of this career fair event.
          </p>
          <button class="btn btn-primary p-0">
            <a [href]="schedulePath" target="_blank" class="d-block p-2">
              <i class="bi bi-calendar2-week me-2"></i> View Schedule
            </a>
          </button>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 px-3">
        <div class="card p-4 mt-3">
          <div class="fs-4 fw-bold">Share Your Feedback</div>
          <p class="mt-2">We value your opinion!</p>
          <p>
            Help us enhance future events by sharing your thoughts and
            suggestions. Click the here to access the feedback form and
            let us know about your experience at the CSD Career Fair. Your input
            will be anonymous!
          </p>
          <button class="btn btn-primary p-0" [disabled]="!feedbackFormPath">
            <a [href]="feedbackFormPath" target="_blank" class="d-block p-2">
              <i class="bi bi-chat-dots-fill me-2"></i> Share Your Thoughts
            </a>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
