<div class="bg-primary footer pt-3 pb-3 mt-5 custom-container-padding mt-5" id="footer">
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
      <div class="connect">
        <div class="header">
          <h3>
            <i class="bi bi-link-45deg fs-5"></i> Connect with us &nbsp; &nbsp; &nbsp; &nbsp;
          </h3>
          <div class="footer-underline"></div>
        </div>
        <div class="mt-2 social-media-container">
          <div class="email">
            <a href="mailto:gsacsd@csd.uoc.gr" target="_blank">
              <div class="d-flex align-items-top">
                <i class=" bi bi-envelope-fill mt-1"></i>
                <div class="ms-3">
                  <b class="m-0">gsacsd [at] csd [dot] uoc [dot] gr</b>
                  <p class="mb-0">Get in touch with us directly!</p>
                </div>
              </div>
            </a>

          </div>
          <div class="linkedin mt-1">
            <a href="https://www.linkedin.com/company/gsacsd/" target="_blank">
              <div class="d-flex align-items-top">
                <i class="bi bi-linkedin mt-1"></i>
                <div class="ms-3">
                  <b class="m-0">@gsacsd</b>
                  <p class="mb-0">Connect with us on LinkedIn!</p>
                </div>
              </div>
            </a>
          </div>
          <div class="facebook mt-1">
            <a href="https://www.facebook.com/gsacsd" target="_blank">
              <div class="d-flex align-items-top">
                <i class="bi bi-facebook mt-1"></i>
                <div class="ms-3">
                  <b class="m-0">@gsacsd</b>
                  <p class="mb-0">Stay updated on our latest news!</p>
                </div>
              </div>
            </a>
          </div>
          <div class="instagram mt-1">
            <a href=" https://www.instagram.com/gsa_csd/" target="_blank">
              <div class="d-flex align-items-top">
                <i class="bi bi-instagram mt-1"></i>
                <div class="ms-3">
                  <b class="m-0">@gsacsd</b>
                  <p class="mb-0">Follow us on Instagram!</p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-start mt-4">
        <div>
          <a href="https://www.uoc.gr/" target="_blank">
            <img src="assets/images/UOC_logo.png" alt="csd logo" class="footer-logo me-3" />
          </a>
        </div>
        <div>
          <img src="assets/images/gsacsd_circle.png" alt="gsacsd logo" class="footer-logo" (click)="scrollToTop()" />
        </div>
      </div>
    </div>
    <div class="col-lg-9 col-md-6 col-sm-12 mt-4 locate">
      <div class="header">
        <h3>
          <i class="bi bi-geo-fill fs-5"></i> Locate us &nbsp; &nbsp; &nbsp; &nbsp;
        </h3>
        <div class="footer-underline"></div>
      </div>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3255.91002226236!2d25.08073401165947!3d35.308217150260226!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x149a5779f2343389%3A0x78628ecc531367aa!2sDepartment%20of%20Computer%20Science%20(CSD)!5e0!3m2!1sen!2sgr!4v1681642986613!5m2!1sen!2sgr"
        width="100%" height="350" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
        title="location on map"
        class="map mt-3"></iframe>
    </div>
  </div>
  <div class="fs-6 acknowledgements-container mt-3 text-center">
    <div>
      <div> Organized by the
        <a href="https://www.facebook.com/gsacsd" target="_blank" class="acknowledgements-link">
          <b>Graduate Student's Association of CSD, UOC</b>
        </a> with the support of
      </div>
      <div class="mt-1">
        <a href="https://www.csd.uoc.gr/" class="acknowledgements-link mt-1">Computer Science Department, University
          of
          Crete</a>, and
      </div>
      <div>
        <a href="https://www.career.uoc.gr/index.php/en/" target="_blank" class="acknowledgements-link"> Career and
          Liaison Office of UoC</a>.
      </div>
    </div>
    <div class="text-center mt-3">&copy; 2023 Graduate Student's Association, CSD, UOC</div>
  </div>
</div>
