.footer{
  color: white;
  align-items: center;
}

a{
  color: white;
  text-decoration: none;

}
.social-media-container{
  font-size: 0.8rem;
}

.acknowledgements-link{
    text-decoration: underline;
}

a:hover {
  color: #252525;
}

.bi{
  font-size: 2rem;
}

.footer-underline{
  border: 2px solid white;
  border-radius: 2px;
  width: 20%;
}

.connect{
  .footer-underline{
    width: 60%
  }
}

// .custom-container-padding{
//   padding-left: 150px;
//   padding-right: 150px;
// }

.map{
  border:0;
  padding: 0;
  border-radius: 5px;
}

.footer-logo{
  width: 100%;
  max-width: 120px !important;
  cursor: pointer;
}

.footer-logo:hover{
  transform: scale(1.1);
}

@media screen and (max-width: 1200px) {
  .footer-underline{
    width: 50%;
  }

  .connect{
    .footer-underline{
      width: 50%;
    }
  }
}

@media screen and (max-width: 600px) {

  .footer-underline{
    width: 100%;
  }

  .connect{
    .footer-underline{
      width: 100%;
    }
  }
}
