.staff-bubble{
  border-radius: 500px;
  width: 30px;
  height: 30px;
  background-color: #E5E5E5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 100;
  background-size: cover;
  background-repeat: no-repeat;
}


@media only screen and (max-width: 600px) {
  // .staff-bubble{
  //   margin-top: 1vh !important;
  // }
}
