<div class="my-3">
  <div class="d-flex justify-content-center">
    <img [src]="staff.imageURL" [alt]="staff.surname" class="staff-image">
  </div>
  <div class="my-2 text-center">
    <div class="staff-name fs-5 fw-bold">{{ staff.name }} {{ staff.surname }}</div>
    <div class="d-flex justify-content-center ms-3 mt-1">
      <div *ngFor="let socialMedia of staff.socialMedia" class="me-3  social-media-icon">
        <app-social-media-icon [socialMedia]="socialMedia" [fontSize]="'2rem'"></app-social-media-icon>
      </div>
    </div>
    <div class="fs-5 mt-1 text-secondary">{{ staff.role }}</div>
    <div class="fs-6 mt-1">{{ staff.position }}</div>
  </div>

</div>
