@import '../../../../styles.scss';

.sponsorship-level {
  font-weight: 800 !important;
  font-size: 1.4rem !important;
  margin-bottom: 0rem;
  font-family: sans-serif;
}

.supporters{
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 0rem;
  padding: 0px;
  font-family: sans-serif;
}

.gold {
  background: linear-gradient(180deg, #A58223 0%, #D7B547 25%, #fada28 50%, #D1B000 75%, #A48123 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin-bottom: 0rem;
  background-clip: text;
}

.silver {
  background: linear-gradient(180deg, #777777 0%, #9e9e9e 25%, #c5c5c5 50%, #7e7e7e 75%, #5f5f5f 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin-bottom: 0rem;
  background-clip: text;
}

hr {
  margin: 0.4rem 0px;
  color: $primary-color;
}

img {
  width: 100%;
}

.message-bubble {
  position: relative;
  display: inline-block;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 1.2rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  font-weight: 500;
  font-size: 1.1rem;
  color: #333333;
}

.message-bubble::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -15px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 15px 8px 0;
  border-color: transparent #f5f5f5 transparent transparent;
}

.logo {
  border-radius: 9999px;
  box-shadow: 0px 0px 0px 0.2rem rgba(0, 121, 190, 1);
  animation: pulse 3s ease-in-out infinite;
}

.logo-width {
  width: 4%;
}

.supporters-img{
  max-height: 160px;
  object-fit: contain;
}


@keyframes pulse {
  0% {
    box-shadow: 0px 0px 0px 0.2rem rgba(0, 121, 190, 1);
  }

  50% {
    box-shadow: 0px 0px 0px 0.5rem rgba(0, 121, 190, 0.4);
  }

  100% {
    box-shadow: 0px 0px 0px 0.2rem rgba(0, 121, 190, 1);
  }
}


@media only screen and (max-width: 600px) {
  .sponsor-card {
    margin: auto;
  }

  .logo-width {
    width: 25%;
  }
}

