<div class="mt-5" id="sponsors">
  <div class="mb-4">
    <h2>Sponsors</h2>
    <div class="h2-underline"></div>
  </div>
  <div class="d-flex align-items-center">
    <div class="logo logo-width">
      <img src="assets/images/gsacsd_circle.png" alt="gsa logo" />
    </div>
    <div class="message-bubble ms-4">
      We would like to thank our sponsors for making this event
      possible!
    </div>
  </div>

  <div class="my-4">
    <div class="sponsorship-level text-secondary">
      <p class="gold">GOLD</p>
    </div>
    <hr />
    <div class="row">
      <div class="col-auto mb-4 sponsor-card" *ngFor="let sponsor of sponsorsLevelA">
        <app-company-card [cardSize]="'large'" [company]="sponsor" [isSponsor]="true"></app-company-card>
      </div>
    </div>
  </div>
  <div class="mt-4">
    <div class="sponsorship-level text-secondary">
      <p class="silver">SILVER</p>
    </div>
    <hr />
    <div class="row">
      <div class="col-auto mb-4 sponsor-card" *ngFor="let sponsor of sponsorsLevelB">
        <app-company-card [cardSize]="'medium'" [company]="sponsor" [isSponsor]="true"></app-company-card>
      </div>
    </div>
  </div>
  <div class="mt-4">
    <div class="supporters text-secondary">
      <span>INSTITUTIONAL SPONSORS</span>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-4 col-sm-12 mt-4">
        <a href="https://www.ics.forth.gr/" target="_blank">
          <img src="assets/supporters/ICS-FORTH(40years).jpg" class="supporters-img" alt="supporters - ICS-FORTH" />
        </a>
      </div>
      <div class="col-md-3 col-sm-12 mt-4">
        <a href="https://www.cup.gr/" target="_blank">
          <img src="assets/supporters/CUP.png" class="supporters-img" alt="supporters - CUP" />
        </a>
      </div>
      <div class="col-md-3 col-sm-12 mt-4">
        <a href="https://dronesteam.eu/" target="_blank">
          <img src="assets/supporters/DRONESSTEAM.png" class="supporters-img" alt="supporters - DRONESSTEAM" />
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="circle"></div>
</div>
